body {
    font-family: "Lato", sans-serif;
    color: #2d3c49;
    font-weight: 400;
}

.header-logo {
    padding-top: 30px;
}

h1 {
    font-weight: 100;
}

h2 {
    color: #7d97ad;
}

hr {
    background: #7d97ad;
    height: 3px;
    border: 0;
}

.clickable {
    cursor: pointer;
}

.underline-on-hover:hover {
    text-decoration: underline;
}